{{#
  @name Button Link component
  @desc Shortcut button link with styles and icon.
  @param label Link text.
  @param href Link destination (entry or url).
  @param target Boolean Set target="_blank" or "_self".
  @param withArrow Boolean. Add a Fontawesome arrow icon.
  @param style Set the link style.
#}}

<a
  class="button-link {{ style or "primary" }}"
  href="{{ href }}"
  target="{{ target === true ? '_blank' : '_self' }}"
>
  {{ label }}
  {{ if withArrow }}
    <i class="fa-solid fa-arrow-right"></i>
  {{ /if }}
</a>
