<div class="grid">
  {{ grid_entries }}
    <article class="preview-card | flow">
      <i class="fa-duotone fa-{{ preview_icon or 'photo-film' }} fa-xl"></i>
      <h3>{{ title }}</h3>
      <p>{{ preview_text_description }}</p>
      <footer class="cluster">
        <a href="{{ url }}">{{ preview_link_text }}</a>
        <i class="fa-solid fa-chevron-right fa-2xs"></i>
      </footer>
    </article>
  {{ /grid_entries }}
  <div class="rules">
    <div aria-hidden="true"></div>
    <div aria-hidden="true"></div>
    <div aria-hidden="true"></div>
  </div>
</div>
