<article class="case-study-preview | grid">
  <div class="img-wrapper">
    <img
      src="{{ glide src="/images/vhs-deck.jpg" width="900" format="webp" }}"
      alt=""
      width="900"
    />
  </div>
  <div class="text | flow">
    <header>
      <div class="eyebrow | small-title">Case Study</div>
      <h2>Heading</h2>
    </header>
    <p>
      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Necessitatibus
      explicabo obcaecati eius atque veritatis consectetur soluta molestiae
      quibusdam nihil rerum.
    </p>
    <a class="button-link primary" href="/">Read more</a>
  </div>
</article>
