<section class="features | content-wrapper">
  {{ features }}
    <article>
      <div class="image-wrapper">
        {{ glide :src="feature_featured_image" preset="featured" }}
          <img
            src="{{ url }}"
            width="{{ width }}"
            height="{{ height }}"
            alt="{{ alt }}"
            loading="lazy"
            decoding="async"
          />
        {{ /glide }}
        <div
          class="underlay"
          data-position="{{ index % 2 === 0 ? 'bottom-left' : 'bottom-right' }}"
        ></div>
      </div>
      <div class="text | flow">
        <header class="flow">
          <h2>{{ feature_heading | title }}</h2>
          <p>{{ feature_text_description }}</p>
        </header>
        {{ feature_link }}
          {{ partial:components/button_link withArrow="true" }}
        {{ /feature_link }}
      </div>
    </article>
  {{ /features }}
</section>
