<article id="formats" class="formats | content-wrapper dark has-bg-element">
  <div class="flow">
    <header class="heading | text-gradient">
      <div class="eyebrow | small-title">Format Capabilities</div>
      {{ formats_heading_highlight }}
    </header>
    <p>{{ formats_text_description }}</p>
  </div>
  {{ service_categories }}
    {{ serviceCategory = title | lower }}
    <ul role="list">
      {{ collection from="formats" sort="title" taxonomy:service_categories="{{serviceCategory}}" }}
        <li class="button-link primary">{{ title }}</li>
      {{ /collection }}
    </ul>
  {{ /service_categories }}
  <img class="bg-element" src="/images/svg/data-lines.svg" alt="" />
</article>
