{
  "plugins": ["prettier-plugin-antlers"],
  "overrides": [
    {
      "files": ["*.antlers.html"],
      "options": {
        "parser": "antlers"
      }
    }
  ],
  "bracketSpacing": true,
  "tabWidth": 2,
  "singleQuote": false,
  "htmlWhitespaceSensitivity": "css"
}
