{{#
  @name Site Header
  @desc The main site header and navigation.
#}}

<header class="site-header" :class="scrolled ? 'scrolled' : ''">
  <div class="content-wrapper">
    <a class="logo" href="/" title="LAVTS Pro Services">
      <img src="/images/lavts-logo.png" width="200" alt="LAVTS Pro Services" />
    </a>
    <div class="cluster">
      <nav class="main-nav">
        <ul role="list" class="cluster">
          {{ nav:main }}
            {{ if children }}
              <li
                class="popover"
                x-data
                x-popover
                @mouseover="$popover.open()"
                @mouseout="$popover.close()"
              >
                <button
                  class="nav-link"
                  :class="$popover.isOpen ? 'active' : ''"
                  x-popover:button
                >
                  {{ title }}
                  <svg
                    xmlns="http://www.w3.org/2000/svg"
                    viewBox="0 0 512 512"
                    width="16"
                    height="16"
                  >
                    <path
                      d="M239 401c9.4 9.4 24.6 9.4 33.9 0L465 209c9.4-9.4 9.4-24.6 0-33.9s-24.6-9.4-33.9 0l-175 175L81 175c-9.4-9.4-24.6-9.4-33.9 0s-9.4 24.6 0 33.9L239 401z"
                    />
                  </svg>
                </button>
                <div
                  class="panel-wrapper"
                  x-popover:panel
                  x-anchor="$refs.button"
                >
                  <ul class="panel" role="list">
                    <div class="feature">
                      <div class="text">
                        <p>Submit an estimate for your project.</p>
                        <a class="button-link ghost" href="/estimate">
                          Get Started
                        </a>
                      </div>
                      <img
                        src="{{ glide src="images/film-bg.jpg" width="400" quality="80" }}"
                        alt=""
                      />
                    </div>
                    <div class="links">
                      {{ children }}
                        <li><a href="{{ url }}">{{ title }}</a></li>
                      {{ /children }}
                    </div>
                  </ul>
                </div>
              </li>
            {{ else }}
              <li>
                <a class="nav-link" href="{{ url }}">
                  {{ title }}
                </a>
              </li>
            {{ /if }}
          {{ /nav:main }}
        </ul>
      </nav>
      <a class="button-link primary" href="/estimate">Get Started</a>
    </div>
  </div>
</header>
