{{#
  @name Utility navigation
  @desc The super-header which copies the styling from the main B2C site.
#}}

<div class="utility-nav | cluster">
  <div class="cluster">
    <div class="flyout">
      <button id="utilityNav" class="button-link ghost-none">
        <i class="fa-solid fa-bars fa-2x"></i>
        <span>Menu</span>
      </button>
    </div>
    <a href="https://losangelesvideotransfer.net/">LAVTS.net</a>
  </div>
  <div class="contact | cluster">
    <strong>Contact Us!</strong>
    <div class="cluster">
      <i class="fa-solid fa-envelope"></i>
      <p>info@losangelesvideotransfer.net</p>
    </div>
    <div class="cluster">
      <i class="fa-solid fa-phone"></i>
      <p>(626) 795-3010</p>
    </div>
  </div>
</div>
