.utility-nav {
  --cluster-justify: space-between;
  background: var(--color-primary-base);
  padding: 0rem 2rem;
  color: var(--color-white);
  line-height: 24px;
  font-size: 15px;
  position: relative;
  z-index: 50;

  & .flyout {
    display: none;
  }

  & svg {
    fill: currentColor;
  }

  & a {
    color: var(--color-white);
    text-decoration: none;

    &:hover {
      color: color-mix(in srgb, var(--color-white), transparent 15%);
      text-decoration: underline;
    }
  }

  & .site-tab {
    position: relative;

    &.selected {
      font-weight: 700;
      top: 1px;
      padding-inline: 1.5rem;
      padding-block: 0.5rem;
      background-color: var(--color-white);
      color: var(--color-primary-dark);
      border-top-left-radius: 0.5rem;
      border-top-right-radius: 0.5rem;

      &::after {
        content: "";
        position: absolute;
        bottom: -3px;
        left: 0;
        width: 100%;
        height: 3px;
        background-color: var(--color-white);
      }
    }
  }

  & #utilityNav {
    cursor: pointer;
    padding: 0.25rem 0.5rem;
    --link-bg-hover: color-mix(
      in srgb,
      var(--color-primary-light),
      transparent 85%
    );

    &:hover {
      & svg {
        transform: none;
      }
    }
  }

  & .contact {
    & > .cluster {
      --cluster-space: 0.5rem;
    }
  }
}

.site-header {
  background-color: var(--color-white);
  box-shadow: var(--shadow-regular);
  position: sticky;
  top: 0;
  z-index: 40;
  font-size: var(--step-0);
  transition: all 0.3s ease;
  /* backdrop-filter: blur(0.5rem); */

  &.scrolled {
    & .content-wrapper {
      grid-template-columns: 200px 1fr;
      padding-block: 0.85rem;
    }

    & .main-nav {
      & .nav-link {
        font-size: 16px;
      }
    }

    & .popover {
      & .panel {
        font-size: 16px;
      }
    }
  }

  & .content-wrapper {
    --cluster-space: 1.25rem;
    display: grid;
    grid-template-columns: 250px 1fr;
    padding-block: 1rem;
    align-items: center;
    justify-items: center;
    transition: all 0.3s ease-in-out;

    & > :first-child {
      justify-self: start;
    }

    & > :last-child {
      justify-self: end;
    }

    & > .cluster {
      column-gap: calc(var(--cluster-space) + 0.75rem);
      row-gap: 0.5rem;
    }
  }

  & .logo {
    & img {
      width: 100%;
    }

    &:hover img {
      opacity: 0.7;
    }
  }

  & .main-nav {
    & .cluster {
      column-gap: var(--cluster-space);
      row-gap: 0.5rem;
    }

    & .nav-link {
      color: currentColor;
      display: flex;
      align-items: center;
      gap: 0.5rem;
      text-decoration: none;
      border-radius: var(--rounded-corners-small);
      padding: 0.25rem 0.5rem;
      background: none;
      font-weight: 500;
      cursor: pointer;
      border: 0;
      outline: 0;
      transition: all 0.2s ease;

      & svg {
        fill: var(--color-primary-base);
      }

      &:hover {
        color: var(--color-primary-base);

        & svg {
          color: var(--color-primary-bright);
        }
      }
    }
  }

  & .popover {
    position: relative;

    & button {
      &.active {
        color: var(--color-primary-base);
      }
    }

    & .panel-wrapper {
      position: absolute;
    }

    & .panel {
      display: grid;
      grid-template-columns: 1fr 1fr;
      gap: var(--space-xs);
      /* left: 50%;
      transform: translateX(-50%); */
      border-radius: var(--rounded-corners-small);
      box-shadow: var(--shadow-regular);
      background-color: var(--color-white);
      margin-block-start: 1rem;
      min-width: 36rem;
      overflow: hidden;
      animation: fade-up 0.2s ease-in;

      & .feature {
        position: relative;
        overflow: hidden;
        padding: var(--space-m);
        background: var(--color-background-gradient-primary);
        color: var(--color-white);

        & .text {
          position: relative;
          z-index: 2;
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;
          text-align: center;
          gap: 1.5rem;
          width: 100%;
          height: 100%;
        }

        & img {
          position: absolute;
          inset: 0;
          height: 100%;
          width: 100%;
          object-fit: cover;
          filter: grayscale(0);
          mix-blend-mode: multiply;
          opacity: 0.2;
        }
      }

      & .links {
        display: flex;
        flex-direction: column;
        gap: 0.25rem;
        padding: var(--space-m);

        & a {
          font-size: 1em;
          padding: 0.25rem 0.5rem;
          display: inline-block;
          border-radius: var(--rounded-corners-small);
          color: var(--color-text-body);
          text-decoration: none;
          transition: all 0.2s ease;

          &:hover {
            color: var(--color-primary-base);
            text-decoration: underline;
            /* background-color: var(--color-neutral-light); */
          }
        }
      }
    }
  }
}

.site-footer {
  position: relative;
  padding-block-start: var(--section-spacer);
  background: linear-gradient(
    to bottom,
    var(--color-neutral-darkest),
    color-mix(in srgb, var(--color-neutral-darkest), black 25%)
  );
  color: color-mix(in srgb, var(--color-white), transparent 30%);

  &::before {
    content: "";
    position: absolute;
    inset: 0;
    width: 100%;
    height: 1px;
    opacity: 0.5;
    background: linear-gradient(
      to right,
      transparent,
      var(--color-primary-base),
      transparent
    );
  }

  & .logo {
    & .title {
      font-size: var(--step-2);
      color: var(--color-white);

      & a {
        color: inherit;
        font-weight: var(--font-heading-weight);
        text-decoration-color: transparent;

        &:hover {
          opacity: 0.7;
        }
      }
    }
  }

  & .grid {
    display: grid;
    grid-template-columns: 30rem repeat(6, 1fr);
    gap: var(--space-l);

    & > * {
      grid-column: span 2;
    }

    & > :first-child {
      grid-column: span 1;
    }
  }

  & .column {
    &.flow {
      --flow-space: 0.75rem;
    }

    & .small-title {
      color: var(--color-white);
    }

    & a:not(.button-link) {
      color: inherit;
      text-decoration: none;
      font-size: var(--step--1);

      &:hover {
        color: var(--color-white);
      }
    }
  }

  & .social {
    --cluster-space: 1.5rem;
  }

  & .subfooter {
    opacity: 0.75;
    border-top: 1px solid var(--color-neutral-darker);
    margin-block-start: var(--section-spacer);
    font-size: var(--step--1);
    padding-block: var(--space-m);
  }
}
