body {
  font-family: var(--font-primary);
  font-size: var(--step-0, 16px);
  line-height: var(--leading-normal);
  color: var(--color-text-body);
}

:where(h1, h2, h3, h4, h5, .heading) {
  font-family: var(--font-heading);
  font-weight: var(--font-heading-weight);
  line-height: var(--leading-tight);
  color: var(--color-text-heading);
}

:is(h1, .h1) {
  font-size: var(--step-4);
}

:is(h2, .h2) {
  font-size: var(--step-3);
}

:is(h3, .h3) {
  font-size: var(--step-2);
}

:is(h4, .h4) {
  font-size: var(--step-1);
}

a:not(.button-link, .logo, .nav-link) {
  color: var(--color-primary-base);
  font-weight: 500;
  text-decoration-thickness: 2px;
  text-decoration-color: var(--color-primary-bright);
  transition:
    color 0.2s ease,
    text-decoration-color 0.1s ease;
}

a:not(.button-link, .logo):hover {
  color: var(--color-primary-bright);
  text-decoration-color: color-mix(
    in srgb,
    var(--color-primary-bright),
    transparent 50%
  );
}

.small-title {
  font-size: var(--step--1, 14px);
  font-weight: 500;
  font-family: var(--font-heading);
  line-height: var(--leading-normal);
  text-transform: uppercase;
  color: inherit;
  letter-spacing: var(--caps-letter-spacing);

  &.eyebrow {
    margin-block-end: var(--space-2xs);
  }
}

.button-link {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  width: fit-content;
  line-height: 1;
  padding: 0.75rem 1rem;
  font-family: var(--font-heading);
  font-size: var(--step--1);
  text-transform: uppercase;
  font-weight: 700;
  letter-spacing: var(--caps-letter-spacing);
  text-decoration: none;
  color: var(--link-color);
  background: var(--link-bg);
  border: 1px solid var(--link-border);
  border-radius: var(--rounded-corners-small);
  transition: all 0.2s ease;

  &:hover {
    background: var(--link-bg-hover);
    border-color: var(--link-border-hover);
    color: var(--link-color-hover);

    & svg {
      transform: translateX(2px);
    }
  }

  & svg {
    transition: all 0.2s ease-out;
  }

  &.primary {
    --link-color: var(--color-white);
    --link-color-hover: var(--color-white);
    --link-bg: var(--color-primary-base);
    --link-bg-hover: color-mix(
      in srgb,
      var(--color-primary-base) 90%,
      var(--color-neutral-darkest)
    );
    --link-border: var(--color-primary-light);
    --link-border-hover: var(--color-primary-bright);
  }

  &.white {
    --link-color: var(--color-text-heading);
    --link-color-hover: var(--color-text-heading);
    --link-bg: var(--color-white);
    --link-bg-hover: color-mix(in srgb, var(--color-white) 90%, black);
    --link-border: transparent;
    --link-border-hover: transparent;
  }

  &.ghost {
    --link-color: inherit;
    --link-color-hover: var(--color-primary-base);
    --link-bg: transparent;
    --link-bg-hover: var(--color-white);
    --link-border: var(--color-white);
    --link-border-hover: transparent;
  }

  &.ghost-primary {
    --link-color: var(--color-primary-base);
    --link-color-hover: var(--color-primary-base);
    --link-bg: transparent;
    --link-bg-hover: color-mix(in srgb, var(--color-primary-light) 20%, white);
    --link-border: var(--color-primary-base);
    --link-border-hover: var(--color-primary-bright);
  }

  &.ghost-none {
    --link-color: inherit;
    --link-color-hover: inherit;
    --link-bg: transparent;
    --link-bg-hover: transparent;
    --link-border: transparent;
    --link-border-hover: transparent;
  }
}
