:root {
  /* Fonts */
  --font-primary: "Nunito Sans", system-ui, -apple-system, BlinkMacSystemFont,
    "Segoe UI", sans-serif;
  --font-heading: var(--font-primary);
  --font-heading-weight: 900;
  --leading-normal: 1.5;
  --leading-tight: 1.15;
  --caps-letter-spacing: 0.15em;

  /* Colors */
  --color-neutral-base: #484b4c;
  --color-neutral-darker: #2b3a42;
  --color-neutral-darker-2: #24292b;
  --color-neutral-darkest: #1c1f20;
  --color-neutral-light: #f7f7f8;
  --color-primary-base: #cc4d00;
  --color-primary-dark: #ac4100;
  --color-primary-bright: #ee7226;
  --color-primary-light: #f0ccb6;
  --color-primary-light-background: color-mix(
    in srgb,
    var(--color-primary-light),
    transparent 50%
  );
  --color-white: #fff;
  /* --color-accent-base: #d52d7e;
  --color-accent-light: #fea4d0;
  --color-secondary-base: #5108a1;
  --color-tertiary-base: #d79263;
  --color-quaternary-base: #086f82; */

  --color-text-body: var(--color-neutral-base);
  --color-text-heading: var(--color-neutral-darker);
  --color-text-heading-emphasis: var(--color-primary-base);
  --color-text-body-light: var(--color-primary-light);
  --color-text-heading-light: var(--color-white);
  --color-background-gradient-primary: linear-gradient(
    90deg,
    var(--color-primary-base),
    var(--color-primary-bright)
  );
  --color-background-gradient-dark: linear-gradient(
    180deg,
    var(--color-neutral-darker-2),
    var(--color-neutral-darkest)
  );
  /* --color-button-background: var(--color-accent-base);
  --color-button-text: var(--color-white); */

  /* Fluid type scale */
  /* @link @link https://utopia.fyi/type/calculator?c=320,16,1.25,1240,18,1.25,6,2,&s=0.75|0.5|0.25,1.5|2|3|4|6,s-l&g=s,l,xl,12 */

  --step--2: clamp(0.64rem, 0.6122rem + 0.1391vw, 0.72rem);
  --step--1: clamp(0.8rem, 0.7652rem + 0.1739vw, 0.9rem);
  --step-0: clamp(1rem, 0.9565rem + 0.2174vw, 1.125rem);
  --step-1: clamp(1.25rem, 1.1957rem + 0.2717vw, 1.4063rem);
  --step-2: clamp(1.5625rem, 1.4945rem + 0.3402vw, 1.7581rem);
  --step-3: clamp(1.9531rem, 1.8681rem + 0.425vw, 2.1975rem);
  --step-4: clamp(2.4413rem, 2.3349rem + 0.5315vw, 2.7469rem);
  --step-5: clamp(3.0519rem, 2.9193rem + 0.663vw, 3.4331rem);
  --step-6: clamp(3.815rem, 3.6493rem + 0.8283vw, 4.2913rem);

  /* Fluid spacing */
  /* @link https://utopia.fyi/space/calculator?c=320,16,1.25,1240,18,1.25,6,2,&s=0.75|0.5|0.25,1.5|2|3|4|6,s-l|s-m&g=s,l,xl,12 */

  --space-3xs: clamp(0.25rem, 0.2283rem + 0.1087vw, 0.3125rem);
  --space-2xs: clamp(0.5rem, 0.4783rem + 0.1087vw, 0.5625rem);
  --space-xs: clamp(0.75rem, 0.7065rem + 0.2174vw, 0.875rem);
  --space-s: clamp(1rem, 0.9565rem + 0.2174vw, 1.125rem);
  --space-m: clamp(1.5rem, 1.4348rem + 0.3261vw, 1.6875rem);
  --space-l: clamp(2rem, 1.913rem + 0.4348vw, 2.25rem);
  --space-xl: clamp(3rem, 2.8696rem + 0.6522vw, 3.375rem);
  --space-2xl: clamp(4rem, 3.8261rem + 0.8696vw, 4.5rem);
  --space-3xl: clamp(6rem, 5.7391rem + 1.3043vw, 6.75rem);

  /* One-up pairs */
  --space-3xs-2xs: clamp(0.25rem, 0.1413rem + 0.5435vw, 0.5625rem);
  --space-2xs-xs: clamp(0.5rem, 0.3696rem + 0.6522vw, 0.875rem);
  --space-xs-s: clamp(0.75rem, 0.6196rem + 0.6522vw, 1.125rem);
  --space-s-m: clamp(1rem, 0.7609rem + 1.1957vw, 1.6875rem);
  --space-m-l: clamp(1.5rem, 1.2391rem + 1.3043vw, 2.25rem);
  --space-l-xl: clamp(2rem, 1.5217rem + 2.3913vw, 3.375rem);
  --space-xl-2xl: clamp(3rem, 2.4783rem + 2.6087vw, 4.5rem);
  --space-2xl-3xl: clamp(4rem, 3.0435rem + 4.7826vw, 6.75rem);

  /* Custom pairs */
  --space-s-l: clamp(1rem, 0.5652rem + 2.1739vw, 2.25rem);
  --space-s-m: clamp(1rem, 0.7609rem + 1.1957vw, 1.6875rem);

  /* Layouts */
  --gutter: var(--space-xs-s, 1rem);
  --wrapper-max-width: 1280px;

  /* Other */
  --rounded-corners: 0.5rem;
  --rounded-corners-small: 0.25rem;
  --paragraph-measure: 62ch;
  --section-spacer: var(--space-3xl);
  --main-top-spacer: 10rem;
  --shadow-regular: 0 0 32px 0 rgba(36, 41, 43, 0.15);
  --shadow-light: 0 -3px 28px -3px rgb(43 0 43 / 8%);
  --accent-line-width: 4px;
  --text-opacity-shade: 0.75;
  --presentation-image-ratio: 4/5;
  --focus-outline-color: var(--color-primary-bright);
  --focus-outline-width: 2px;
}

@media (max-width: 768px) {
  :root {
    --section-spacer: 4rem;
  }
}
