main.home-page {
  /* margin-block-start: calc(var(--section-spacer) * 0.5); */
  overflow: hidden;
  /* margin-block-end: var(--section-spacer); */
}

.home-page {
  & .hero {
    --hero-color-text: var(--color-white);
    padding-block-start: calc(var(--hero-padding, var(--section-spacer)) * 1);

    & .bg-image {
      filter: brightness(0.3);
    }
  }
}
