.benefits {
  & h2 {
    font-size: var(--step-4);
  }

  & .text {
    & p {
      max-width: var(--paragraph-measure-shorter);
    }
  }

  & .slider {
    margin-block-start: var(--space-xl);
  }

  & article {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    position: relative;
    color: var(--color-white);
    padding: var(--space-l);
    min-height: 32rem;
    background: linear-gradient(
      to bottom right,
      var(--color-primary-base) -30%,
      var(--color-neutral-darkest) 40%
    );
    border-radius: var(--rounded-corners);
    overflow: hidden;
    outline: 0px solid transparent;
    transition: all 0.2s linear;

    &:hover {
      outline: 5px solid var(--color-primary-base);

      & .overlay {
        opacity: 0.55;
      }

      & img {
        transform: translateY(0.75rem);
      }
    }

    & > svg {
      color: var(--color-primary-light);
      position: relative;
      z-index: 3;
      height: 2rem;
      place-self: flex-start;
      margin-block-end: var(--space-s);
    }

    & .text {
      position: relative;
      z-index: 3;
    }

    & .heading {
      font-size: var(--step-3);
      text-wrap: balance;

      & a {
        font-weight: var(--font-heading-weight);
        text-decoration: none;
        color: var(--color-white);

        &:hover {
          text-decoration: underline;
        }
      }
    }

    & footer {
      &.cluster {
        --cluster-space: 0.5rem;
      }

      & svg {
        position: relative;
        top: 1px;
        opacity: 0;
        transform: translateX(-1px);
        transition:
          transform 0.4s ease,
          opacity 0.3s ease;
      }

      & a {
        color: var(--color-white);
        opacity: 0.7;

        &:hover {
          color: var(--color-white);
          opacity: 1;
        }

        &:hover + svg {
          opacity: 1;
          transform: translateX(1px);
        }
      }
    }

    & .overlay {
      position: absolute;
      inset: 0;
      z-index: 1;
      height: 100%;
      width: 100%;
      opacity: 0;
      background: var(--color-background-gradient-primary);
      transition: all 0.4s ease-in-out;
    }

    & img {
      position: absolute;
      top: -12rem;
      left: 0;
      z-index: 2;
      opacity: 0.2;
      width: 60%;
      height: auto;
      object-fit: contain;
      transition: transform 0.6s ease;
    }
  }

  & .splide {
    & .splide__track {
      overflow: visible;
    }

    & .splide__list {
      /* & li:nth-child(even) {
        & .overlay {
          opacity: 0.75;
        }
      } */
    }

    & .splide__arrows {
      display: flex;
      position: absolute;
      right: 0;
      top: calc(var(--space-2xl) * -1 - 0.25rem);
      margin-inline: auto;
      justify-content: center;
      gap: 1rem;

      & .splide__arrow {
        position: static;
        background: transparent;
        width: fit-content;
        border: 1px solid var(--color-primary-base);
        border-radius: var(--rounded-corners-small);
        padding: 1.25rem;
        opacity: 1;
        color: var(--color-primary-dark);

        & svg {
          transform: translateX(0);
          fill: var(--color-primary-light);
        }

        &:disabled {
          opacity: 0.3;
        }

        &:hover {
          background-color: color-mix(
            in srgb,
            var(--color-primary-light),
            transparent 70%
          );
        }

        &.splide__arrow--prev:hover {
          & svg {
            transform: translateX(-2px);
          }
        }

        &.splide__arrow--next:hover {
          & svg {
            transform: translateX(2px);
          }
        }
      }
    }

    & .splide__pagination {
      bottom: calc(var(--space-xl) * -1);
    }

    & .splide__pagination__page {
      background: var(--color-primary-light);

      &.is-active {
        background: var(--color-background-gradient-primary);
      }
    }
  }
}
