.benefits {
  & h2 {
    text-align: center;
    margin-block-end: var(--space-2xl);
    font-size: var(--step-4);
  }

  & .slider {
    margin-block-start: var(--space-2xl);
  }

  & article {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    position: relative;
    color: var(--color-white);
    padding: var(--space-l);
    min-height: 32rem;
    background: linear-gradient(
      to bottom right,
      var(--color-primary-base) -30%,
      var(--color-neutral-darkest) 40%
    );
    border-radius: var(--rounded-corners);
    overflow: hidden;
    outline: 0px solid transparent;
    transition: all 0.2s linear;

    &:hover {
      outline: 5px solid var(--color-primary-base);

      /* & .overlay {
        opacity: 0.55;
      } */
    }

    & .text {
      position: relative;
      z-index: 3;
    }

    & .heading {
      & a {
        font-weight: var(--font-heading-weight);
        text-decoration: none;
        color: var(--color-white);

        &:hover {
          text-decoration: underline;
        }
      }
    }

    & footer {
      &.cluster {
        --cluster-space: 0.5rem;
      }

      & svg {
        position: relative;
        top: 1px;
        opacity: 0;
        transform: translateX(-1px);
        transition:
          transform 0.4s ease,
          opacity 0.3s ease;
      }

      & a {
        color: var(--color-white);
        opacity: 0.7;

        &:hover {
          color: var(--color-white);
          opacity: 1;
        }

        &:hover + svg {
          opacity: 1;
          transform: translateX(1px);
        }
      }
    }

    & .overlay {
      position: absolute;
      inset: 0;
      z-index: 1;
      height: 100%;
      width: 100%;
      opacity: 0;
      background: var(--color-background-gradient-primary);
      transition: all 0.4s ease-in-out;
    }

    & img {
      position: absolute;
      top: -12rem;
      left: 0;
      z-index: 2;
      opacity: 0.2;
      width: 60%;
      height: auto;
      object-fit: contain;
    }
  }

  & .splide {
    & .splide__track {
      overflow: visible;
    }

    & .splide__list {
      & li:nth-child(even) {
        & .overlay {
          opacity: 0.75;
        }
      }
    }

    & .splide__arrows {
      display: flex;
      position: relative;
      margin-inline: auto;
      justify-content: center;
      gap: 1rem;
      top: -1.5rem;

      & .splide__arrow {
        position: static;
        background: var(--color-background-gradient-primary);

        & svg {
          fill: var(--color-primary-light);
        }
      }
    }

    & .splide__pagination {
      bottom: -2rem;
    }

    & .splide__pagination__page {
      background: var(--color-primary-light);

      &.is-active {
        background: var(--color-background-gradient-primary);
      }
    }
  }
}
