.hero {
  --flow-space: var(--space-l);
  align-items: center;
  text-align: center;

  & .heading {
    font-size: var(--step-5);
  }

  & .links {
    &.cluster {
      --cluster-justify: center;
    }
  }
}
