.tabs-wrapper {
  display: grid;
  grid-template-columns: 1fr 2fr;
  gap: var(--space-l);
  max-width: 80%;
  margin-inline: auto;
  margin-block-start: var(--space-xl);

  & .tabs-buttons {
    &.flow {
      gap: var(--space-xs);
    }

    & > * {
      flex-grow: 1;
    }

    & button {
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 0.5rem;
      cursor: pointer;
      padding: 0.75rem 1.25rem;
      width: 100%;
      height: 100%;
      line-height: var(--leading-tight);
      background: color-mix(
        in srgb,
        var(--color-neutral-darker),
        transparent 70%
      );
      color: color-mix(in srgb, var(--color-white), transparent 25%);
      border: 0;
      outline: 2px solid transparent;
      border-radius: var(--rounded-corners-small);
      transition: all 0.2s ease;

      & svg {
        color: var(--color-primary-base);
        transition: color 0.2s ease;
      }

      &:hover {
        color: var(--color-white);
        background: color-mix(
          in srgb,
          var(--color-neutral-darker),
          transparent 85%
        );
        outline-color: var(--color-primary-base);

        & svg {
          color: var(--color-primary-bright);
        }
      }

      &.active {
        color: var(--color-white);
        font-weight: 700;
        background: var(--color-background-gradient-primary);

        & svg {
          color: var(--color-white);
        }
      }
    }
  }

  & .tabs-content {
    position: relative;
    overflow: hidden;
    text-align: left;
    background: var(--color-background-gradient-primary);
    border-radius: var(--rounded-corners-small);
    padding: var(--space-l);
    color: var(--color-white);
    min-height: 25rem;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;

    & .text {
      position: relative;
      z-index: 2;
      padding-block-start: var(--space-3xl);

      &.flow {
        gap: var(--space-xs);
      }

      & h3 {
        color: var(--color-white);

        & a {
          font-weight: var(--font-heading-weight);
          color: var(--color-white);
          text-decoration: none;

          &:hover {
            text-decoration: underline;
          }
        }
      }
    }

    & .bg-image {
      position: absolute;
      inset: 0;
      height: 100%;
      width: 100%;
      object-fit: cover;
      filter: brightness(0.5);
      mask-image: linear-gradient(to bottom, black 30%, transparent);
      transition: 0.3s all ease;
    }

    &:hover .bg-image {
      opacity: 0.85;
    }
  }

  /* &.htmx-added .tabs-buttons .active {
    animation: 0.3s ease fade-up;
  } */

  /* &.htmx-added .tabs-content .text {
    animation: 0.5s ease fade-up;
  } */
  & .tabs-content .text {
    animation: 0.7s ease fade-up;
  }

  & .tabs-content .bg-image {
    animation: 1.7s ease zoom-out;
  }
}
