.why-benefits {
  margin-block-start: 14rem;
  margin-block-end: var(--section-spacer);

  & .content-wrapper {
    border-radius: var(--rounded-corners);

    & .bg-element {
      top: 220px;
    }
  }

  & .featured-image {
    left: 50%;
    transform: translateX(-50%);
    border-radius: var(--rounded-corners);
    max-width: 46rem;
    top: -6rem;
    aspect-ratio: 16 / 9;
    object-fit: cover;

    & img {
      border-radius: var(--rounded-corners);
    }
  }

  & .grid-9 {
    padding-block-end: var(--section-spacer);
    padding-inline: var(--space-xl);

    & .sticky {
      position: sticky;
      top: var(--space-3xl);
      align-self: start;
      grid-column: span 4;
      padding-right: var(--space-xl);

      & p {
        font-size: var(--step-1);
      }
    }

    & > :last-child {
      grid-column: 5 / span 5;
    }
  }

  & .eyebrow {
    color: var(--color-primary-bright);
  }

  & h2 {
    font-size: var(--step-4);
  }

  & :is(h2, h3) {
    color: var(--color-white);
  }

  & .entries {
    & > * + * {
      margin-block-start: var(--space-xl);
      padding-block-start: var(--space-l);
      border-top: 1px solid
        color-mix(in srgb, var(--color-neutral-base), transparent 20%);
    }
  }

  & article {
    /* display: grid;
    grid-template-columns: 1fr 2fr;
    column-gap: var(--space-2xl);
    row-gap: var(--space-m); */

    & svg {
      height: 2.5rem;
      width: 2.5rem;
      color: var(--color-primary-base);
    }

    & :not(h2, svg) {
      max-width: var(--paragraph-measure);
    }
  }
}
