<main class="estimate-page" id="content">
  <article class="hero">
    <div class="flow">
      <header class="heading | text-gradient">
        <div class="eyebrow | small-title">{{ title || 'Get Started' }}</div>
        {{ hero_heading_highlight }}
      </header>
      <p>
        {{ hero_description }}
      </p>
    </div>
  </article>
  <article class="form-wrapper | content-wrapper">
    <form action="">
      <div class="service-items | flow">
        <h3>Add items to your estimate</h3>
      </div>
      <div class="contact-info | flow">
        <h3>Your contact info</h3>
        <div class="form-item">
          <label class="small-title" for="name">Name</label>
          <input
            type="text"
            name="name"
            id="name"
            placeholder="Your Name"
            required
          />
        </div>
        <div class="form-item">
          <label class="small-title" for="email">Email</label>
          <input
            type="email"
            name="email"
            id="email"
            placeholder="Your Email"
            required
          />
        </div>
        <div class="form-item">
          <label class="small-title" for="message">Message</label>
          <textarea
            type="textarea"
            name="message"
            id="message"
            rows="4"
            placeholder="Your Message"
          ></textarea>
        </div>
      </div>
      <div class="center-all">
        <button class="button-link primary" type="submit">
          Submit Estimate
        </button>
      </div>
    </form>
  </article>
</main>
