{{#
  {{ push:styles }}
    {{ vite src="resources/css/templates/estimate.css" }}
  {{ /push:styles }}
#}}
<main class="estimate-page" id="content">
  <article class="hero">
    <div class="flow">
      <header class="heading | text-gradient">
        <div class="eyebrow | small-title">{{ title || 'Get Started' }}</div>
        {{ hero_heading_highlight }}
      </header>
      <p>
        {{ hero_description }}
      </p>
    </div>
  </article>
  <article class="content-wrapper">lorem ipsum</article>
</main>
