{{#
  @name Home Template
  @desc The home template.
  @blueprint home_page
#}}

{{ push:styles }}
  {{# {{ vite src="resources/css/templates/home.css" }} #}}
  <link
    rel="stylesheet"
    href="https://cdn.jsdelivr.net/npm/@splidejs/splide@4.0.7/dist/css/splide.min.css"
  />
  <script src="https://cdn.jsdelivr.net/npm/@splidejs/splide@4.0.7/dist/js/splide.min.js"></script>
{{ /push:styles }}
<main class="home-page" id="content">
  {{ partial:page_sections/hero eyebrow="{{title}}" }}
  {{ partial:page_sections/about_services }}
  {{ partial:page_sections/capabilities }}
  {{ partial:page_sections/features }}
  {{ partial:page_sections/benefits_preview }}
  {{ partial:page_sections/team }}
  {{ partial:page_sections/cta }}
  {{ partial:page_sections/clients }}
</main>
